@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oswald:wght@300&family=Source+Sans+Pro&display=swap');

/*formatação geral da página*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #34495E;
    font-family: 'Source Sans Pro', sans-serif;
}

/*formatação geral de todas as listas da página*/
ul {
    list-style: none;
    font-size: 18px;
}

/*removendo formatação original de todos os links da página*/
a {
    text-decoration: none;
}

/*formatação geral do corpo da página*/
body {
/*    background-image: url(./ceu-estrelado2.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;   */
    background: url(../imagens/penas.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*formatação de todo o cabeçalho*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/*formatação do lzgandini*/
header h3 {
    font-size: 25px;
}

/*posicionamento do navbar*/
header ul {
    display: flex;
}

/*formatação do navbar*/
header ul li {
    padding: 5px;
}

/*suavizando transição da animação*/
header ul li a {
    transition: 0.3s;
}

/*adicionando animação quando o mouse sobrepõe*/
header ul li a:hover{
    font-size: 19px;
    color: #1B2631;
}

/*alinhamento do container contendo as classes name, career, about e others*/
.container {
    text-align: center;
}

/*formatação do nome Luiza Gandini*/
.container .name h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: #1B2631;
    padding-top: 130px;
}

/*formatação do subtítulo full stack developer*/
.container .name h5 {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
    color: #1B2631;
}

/*espaçamento da frase de apresentação*/
.container .name p {
    padding-bottom: 50px;
}

/*
/*animação da seta (blink é um nome escolhido. pode ser outro)
#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

/*determina a ação da animação (necessário para que a animação funcione)
@keyframes blink {
    to {
        visibility: hidden;
    }
}

/*controla a rotação da seta ao "descer"
#animation {
    transition: 0.3s;
}

/*configura rotação ao clicar
.rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}

.active {
    display: block !important;
}*/

/*posicionamento do bloco carreira na horizontal conforme quantidade de divs*/
.career {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    padding: 50px;
}

/*formatação das divisões com background, tamanho e espaçamento*/
.career div {
    background-color: #F2F3F4;
    opacity: 0.9;
    width: 280px;
    height: 220px;
    padding: 15px;
}

/*espaçamento entre o título de cada box e o conteúdo*/
.career ul, .career p {
    padding: 20px;
}

.techs ul {
    font-size: 18px;
}

/*estilização do botão sem sobreposição do mouse*/
button {
    padding: 5px 7px;
    transition: 0.3s;
    border-radius: 0px;
    border: 1px solid #D2B4DE;
}

/*estilização do botão quando o mouse sobrepõe*/
button:hover {
    background-color: #D2B4DE;
    border: #D2B4DE;
    font-size: 14px;
}

/*posicionamento e espaçamento do campo Sobre*/
#about {
    display: block;
    /*justify-content: center;*/
    padding: 50px;
}

/*formatação de fonte e margem do parágrafo de Sobre*/
#about p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

/*espaçamento geral do campo outros projetos*/
.others {
    padding-top: 25px;
    padding-bottom: 75px;
}

/*definição de tamanho de fonte para o título de outros projetos*/
.others p {
    font-size: 24px;
    padding-top: 50px;
}

/*posicionamento da lista de outros projetos*/
.projects {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px; 
    padding-bottom: 50px;
}

/*dimensionamento das imagens de outros projetos*/
.projects img {
    width: 60px;
    height: 60px;
}

.projects img a:hover{
    width: 130px;
    height: 130px;
}

/*
.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
}

.form button {
    width: 15%;
}

.licenses p {
    font-size: 24px;
    padding: 25px;
}*/

/*detalhamento de borda e estilização do rodapé*/
footer {
    position: absolute;
    background-color: transparent;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #F8F9F9;
    font-size: 15px;
    padding: 15px;
}

@media only screen and (max-width: 480px) {

    .career div {
        height: 300px;

    }

    #about p {
        text-align: justify;
    }

}